@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400,700&display=swap');

body {
  background-color: #000;
  background: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url('../img/space4.jpg');
  /*background-image: url("../img/space4.jpg");
  /*opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}
#gameCanvas {
  border: 2px solid #222;
}
.game {
  position: absolute;
  left: 50%;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top:40px;
  margin-bottom:20px;
  font-size: 44px;
  color: yellow;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 300;
  color: #fff;
  margin-bottom:20px;
}
p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 300;
  color: #fff;
  margin-bottom:40px;
}
